cartellasociale-ws/src/main/resources/CartellaSociale.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CartellaSocialeWS"
                  targetNamespace="http://insiel.it/sanita/cartellasociale/cartellaws/"
                  xmlns="http://insiel.it/sanita/cartellasociale/cartellaws/"
                  xmlns:ns="http://tipigenerali.cartellasociale.sanita.insiel.it"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:cartellasociale="http://cartellasociale.sanita.insiel.it"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:framework="http://framework.cartellasociale.sanita.insiel.it">
	<wsdl:types>
		<xsd:schema targetNamespace="http://insiel.it/sanita/cartellasociale">
			<xs:import namespace="http://cartellasociale.sanita.insiel.it"
			           schemaLocation="CartellaSociale.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://insiel.it/sanita/cartellasociale/framework">
			<xs:import namespace="http://framework.cartellasociale.sanita.insiel.it"
			           schemaLocation="Framework.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="AzioniBackOfficeRequest">
		<wsdl:part name="request"
		           element="cartellasociale:AzioniBackOffice">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AzioniBackOfficeResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaAzioniBackOffice">
				</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoDiarioResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaDiario">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaDiarioRequest">
		<wsdl:part name="request"
		           element="cartellasociale:ModificaDiario">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaDiarioResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaModificaDiario">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoCartellaRequest">
		<wsdl:part name="request"
		           element="cartellasociale:InserimentoCartellaSociale">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoProfiloRequest">
		<wsdl:part name="request"
		           element="cartellasociale:InserimentoProfilo">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaProfiloRequest">
		<wsdl:part name="request"
		           element="cartellasociale:ModificaProfilo">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoCartellaResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaCartella">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoPersonaRiferimentoResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaPersonaRiferimento">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaInterventoRequest">
		<wsdl:part name="request"
		           element="cartellasociale:ModificaIntervento">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaInterventoNewRequest">
		<wsdl:part name="request"
		           element="cartellasociale:NuovaModificaIntervento">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ChiudiCartellaRequest">
		<wsdl:part name="request"
		           element="cartellasociale:ChiudiCartella">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ChiudiCartellaResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaChiudiCartella">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaPersonaRiferimentoRequest">
		<wsdl:part name="request"
		           element="cartellasociale:ModificaPersonaRiferimento">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="RiattivaCartellaResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaRiattivaCartella">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaPersonaRiferimentoResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaPersonaRiferimento">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaInterventoResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaModificaIntervento">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoDiarioRequest">
		<wsdl:part name="request"
		           element="cartellasociale:InserimentoDiario">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoProfiloResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaInserimentoProfilo">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaProfiloResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaModificaProfilo">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoPersonaRiferimentoRequest">
		<wsdl:part name="request"
		           element="cartellasociale:InserimentoPersonaRiferimento"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaAnagraficaRequest">
		<wsdl:part name="request"
		           element="cartellasociale:ModificaAnagrafica">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaAnagraficaResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaModificaAnagrafica">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoInterventoRequest">
		<wsdl:part name="request"
		           element="cartellasociale:InserimentoIntervento">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoInterventoNewRequest">
		<wsdl:part name="request"
		           element="cartellasociale:NuovoInserimentoIntervento">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="RiattivaCartellaRequest">
		<wsdl:part name="request"
		           element="cartellasociale:RiattivaCartella">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaProgettoResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaModificaProgetto">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificaProgettoRequest">
		<wsdl:part name="request"
		           element="cartellasociale:ModificaProgetto">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoInterventoResponse">
		<wsdl:part name="response"
		           element="cartellasociale:RicevutaIntervento">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="Autenticazione">
		<wsdl:part name="autenticazione"
		           type="framework:Autenticazione">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Cartella">
		<wsdl:operation name="inserimentoCartella"
		                parameterOrder="request">
			<wsdl:input message="InserimentoCartellaRequest">
		</wsdl:input>
			<wsdl:output message="InserimentoCartellaResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="inserimentoDiario"
		                parameterOrder="request">
			<wsdl:input message="InserimentoDiarioRequest">
		</wsdl:input>
			<wsdl:output message="InserimentoDiarioResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="inserimentoPersonaRiferimento"
		                parameterOrder="request">
			<wsdl:input message="InserimentoPersonaRiferimentoRequest"> </wsdl:input>
			<wsdl:output message="InserimentoPersonaRiferimentoResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaAnagrafica"
		                parameterOrder="request">
			<wsdl:input message="ModificaAnagraficaRequest">
		</wsdl:input>
			<wsdl:output message="ModificaAnagraficaResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="inserimentoProfilo"
		                parameterOrder="request">
			<wsdl:input message="InserimentoProfiloRequest">
		</wsdl:input>
			<wsdl:output message="InserimentoProfiloResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaProfilo"
		                parameterOrder="request">
			<wsdl:input message="ModificaProfiloRequest">
		</wsdl:input>
			<wsdl:output message="ModificaProfiloResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaProgetto"
		                parameterOrder="request">
			<wsdl:input message="ModificaProgettoRequest">
		</wsdl:input>
			<wsdl:output message="ModificaProgettoResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nuovoInserimentoIntervento"
		                parameterOrder="request">
			<wsdl:input message="InserimentoInterventoNewRequest">
		</wsdl:input>
			<wsdl:output message="InserimentoInterventoResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nuovaModificaIntervento"
		                parameterOrder="request">
			<wsdl:input message="ModificaInterventoNewRequest">
		</wsdl:input>
			<wsdl:output message="ModificaInterventoResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaDiario"
		                parameterOrder="request">
			<wsdl:input message="ModificaDiarioRequest">
		</wsdl:input>
			<wsdl:output message="ModificaDiarioResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaPersonaRiferimento"
		                parameterOrder="request">
			<wsdl:input message="ModificaPersonaRiferimentoRequest"> </wsdl:input>
			<wsdl:output message="ModificaPersonaRiferimentoResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="chiudiCartella"
		                parameterOrder="request">
			<wsdl:input message="ChiudiCartellaRequest">
		</wsdl:input>
			<wsdl:output message="ChiudiCartellaResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="riattivaCartella"
		                parameterOrder="request">
			<wsdl:input message="RiattivaCartellaRequest">
		</wsdl:input>
			<wsdl:output message="RiattivaCartellaResponse">
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="azioniBackOffice"
		                parameterOrder="request">
			<wsdl:input message="AzioniBackOfficeRequest">
		</wsdl:input>
			<wsdl:output message="AzioniBackOfficeResponse">
		</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CartellaSOAP"
	              type="Cartella">
		<soap:binding style="document"
		              transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="inserimentoCartella">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="inserimentoDiario">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="inserimentoPersonaRiferimento">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaAnagrafica">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="inserimentoProfilo">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaProfilo">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaProgetto">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaDiario">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaPersonaRiferimento">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="chiudiCartella">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="riattivaCartella">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="azioniBackOffice">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nuovoInserimentoIntervento">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nuovaModificaIntervento">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Cartella">
		<wsdl:port name="CartellaSOAP"
		           binding="CartellaSOAP">
			<soap:address location="https://sociale.regione.fvg.it/WS_PRJ/services/Cartella"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

